#myEditor {
	width: 100%;
	height: 400px;
}

#content {
	width: 80%;
	height: auto;
	margin: 30px auto;
}

#content button {
	float: right;
	margin-left: 20px;
}

#dropdown {
	width: 20%;
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
}

#recommand {
	margin-left: 100px;
	display: inline-block;
	padding-top: 20px;
}

#myEditor {
	width: 100%;
	height: 400px;
}

#content {
	width: 80%;
	height: auto;
	margin: 30px auto;
}

#content button {
	float: right;
	margin-left: 20px;
}

#dropdown {
	width: 20%;
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
}

#recommand {
	margin-left: 100px;
	display: inline-block;
	padding-top: 20px;
}

#thumbPic {
	display: inline-block;
	width: 30%;
	height: auto;
}

#thumbPic img {
	width: 100%;
	height: auto;
}

#bgPic {
	display: inline-block;
	margin-left: 50px;
	width: 30%;
	height: auto;
}

#bgPic img {
	width: 100%;
	height: auto;
}

#ossThumbfile .progress {
	visibility: hidden;
}

#uploadBgInfo .progress {
	visibility: hidden;
}

#previewTitle {
	width: 400px;
	height: 95%;
	background-color: #1B6D85;
	position: absolute;
	left: 15px;
	top: 15px;
	background-image: url(img/huge2.jpg);
}

#previewContent {
	font-size: 16px;
	line-height: 24px;
	position: absolute;
	left: 450px;
	top: 15px;
	color: #666666;
}

#previewContent img {
	width: 200px;
	height: auto;
}

#previewTitleContent {
	width: 250px;
	height: 200px;
	background-color: white;
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: #666666;
}