#content {
	width: 80%;
	height: auto;
	margin: 30px auto;
	padding-bottom: 30px;
}

#contentHeader button {
	float: right;
	margin-left: 20px;
}

#dropdown {
	width: 20%;
	margin-left: 20px;
	margin-top: 10px;
	display: inline-block;
}

#recommand {
	margin-left: 100px;
	display: inline-block;
	padding-top: 20px;
}



#pptContent {
	float: left;
	width: 70%;
	margin-top: 40px;
}

#asideContent {
	width: 18%;
	height: auto;
	margin-left: 2%;
	margin-top: 20px;
	float: right;
}

#thumbPic{
	width:100%;
	height:auto;
}

#uploadThumb{
	width:100%;
	height:auto;
	overflow:hidden;	
}

#bgPic{
	width:100%;
	height:auto;
}

#uploadBg{
	width:100%;
	height:auto;
	overflow:hidden;
}

#dataTable img {
	width: 100px;
	height: auto;
}

#addPanel {
	width: 50%;
	height: 50%;
	background-color: white;
	position: absolute;
	top: calc(50% / 2);
	left: calc(50% / 2);
	display: none;
	padding: 20px;
	border: dashed 1px #00bbd3;
}

#pptPic{
	width: 30%;
	height: 30%;
	float: left;
}

#uploadPpt{
	width: 100%;
	height: 100%;
	overflow:hidden;
}

#describe{
	width: 60%;
	height: auto;
	float: left;
}

#addPptBtn {
	position: absolute;
	bottom: 30px;
	left: 30%;
}

#cancelPptBtn {
	position: absolute;
	bottom: 30px;
	right: 30%;
}