#addCategory {
	margin-top: 30px;
	margin-left: 10%;
	margin-bottom: 20px;
}

#dataTable {
	width: 80%;
	height: auto;
	margin: 15px auto;
	border: dashed 1px #00838F;
	clear: both;
}

#addPanel {
	width: 50%;
	height: 50%;
	position: absolute;
	top: calc(50% / 2);
	left: calc(50% / 2);
	display: none;
	padding: 20px;
	border: dashed 1px #00bbd3;
	background-color: white;
}

#addPanel img {
	width: 20%;
	height: auto;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}

#submit {
	position: absolute;
	bottom: 10px;
	left: 30%;
}

#cancel {
	position: absolute;
	bottom: 10px;
	right: 30%;
}

#circleProgress{
	position: absolute;
	top: calc(50% + 100px);
	left: calc(50% - 20px);
	display: none;
}

#imagePanel img{
	width: 25%;
	height: auto;
	display: inline-block;
	max-width: 150px;
}

#operateImg{
	width: 50%;
	height: auto;
	margin-left: 10%;
	display: inline-block;
}

#imagePanel p{
	margin-left: 15px;
}
