<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>内容管理</title>
		<link rel="stylesheet" href="css/project/contentManage.css" />
	</head>

	<body>

		<section>
			<p id="breadcrumbs">内容管理</p><span id="categoryId"></span>
			<a id="addArticleContent" class="waves-effect waves-light btn cyan lighten-1"><i class="material-icons left">playlist_add</i>上传文章</a>
			<a id="addPptContent" class="waves-effect waves-light btn cyan lighten-1"><i class="material-icons left">playlist_add</i>上传幻灯片</a>
			<div id="conditionPanel">
				<div id="dropdown" class="input-field">
					<select>
						<option value="" disabled selected>请选择</option>
						<option v-for="menu in menus" :value="menu.id">{{menu.name}}</option>
					</select>
					<label>选择文章类别</label>
				</div>
				<div class="input-field search">
					<i class="material-icons prefix">search</i>
					<input id="condition" type="text" class="validate"> 
					<label for="condition">搜索</label>
				</div>

			</div>

			<div id="dataTable">
				<table class="striped centered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Item Name</th>
							<th>Item Price</th>
							<th>Operation</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="value in datas">
							<td>{{value.name}}</td>
							<td>{{value.item}}</td>
							<td>{{value.price}}</td>
							<td>修改 删除</td>
						</tr>
					</tbody>
					<tfoot>

					</tfoot>
				</table>

				<ul class="pagination pageBlock">
					<li class="disabled">
						<a href="#!"><i class="material-icons">chevron_left</i></a>
					</li>

					<li v-for="n in pageCount">
						<a href="javascript:void(0)" v-bind:class=" activeNumber === n ? 'active' : 'waves-effect'">{{ n }}</a>
					</li>

					<li class="waves-effect">
						<a href="#!"><i class="material-icons">chevron_right</i></a>
					</li>
				</ul>
			</div>
		</section>
	</body>
	<script type="text/javascript" src="js/project/contentManage.js"></script>

</html>