<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>音乐管理</title>
		<link rel="stylesheet" href="../resources/css/project/music.css" />
	</head>

	<body>
		<section>
			<a id="addMusic" class="waves-effect waves-light btn cyan lighten-1"><i class="material-icons left">playlist_add</i>上传音乐</a>
			<div class="input-field search">
				<i class="material-icons prefix">search</i>
				<input id="condition" type="text" class="validate">
				<label for="condition">搜索</label>
			</div>

			<div id="dataTable">
				<table class="striped centered">
					<thead>
						<tr>
							<th>名称</th>
							<th>作者</th>
							<th>上传日期</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="tableBody">
						<tr v-for="value in datas">
							<td>{{value.name}}</td>
							<td>{{value.author}}</td>
							<td>{{value.date}}</td>
							<td><a href="#" :id="value.id" @click="updateData($event)">修改</a> <a href="#" :id="value.id" @click="deleteData($event)">删除</a></td>
						</tr>
					</tbody>
					<tfoot>

					</tfoot>
				</table>

				<ul class="pagination pageBlock">
					<li id="chevron_left" class="disabled" @click="prePageClick($event)">
						<a href="#!"><i class="material-icons">chevron_left</i></a>
					</li>

					<li v-for="n in currentPaginationCount" v-bind:class="activeNumber === (n + paginationNum * 10) ? 'active' : 'waves-effect'" @click="getPageData($event)" :id="n + paginationNum * 10">
						<a href="javascript:void(0)">{{ n + paginationNum * 10  }}</a>
					</li>

					<li id="chevron_right" class="waves-effect" @click="nextPageClick($event)">
						<a href="#!"><i class="material-icons">chevron_right</i></a>
					</li>
				</ul>
			</div>
		</section>

		<section id="addPanel">
			<div class="row">
				<div class="input-field col s12">
					<i class="small material-icons prefix">subtitles</i>
					<input id="title" type="text" class="validate">
					<label id="musicLabel" for="title">名称</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="small material-icons prefix">subtitles</i>
					<input id="author" type="text" class="validate">
					<label id="authorLabel" for="author">作者</label>
				</div>
			</div>

			<div id="filePanel">
				<p>请上传MP3文件：</p>
				<div><b id="fileDescribe"><span id="fileCompletePersent"></span></b>
					<div class="progress">
						<div class="determinate" style="width: 1%"></div>
					</div>
				</div>
				<div id="container">
					<a id="selectfiles" href="javascript:void(0);" class='btn waves-effect waves-light cyan lighten-1'>选择文件</a>
				</div>

				<pre id="console"></pre>
				<p>&nbsp;</p>
			</div>

			<div id="videoPanel">
				<audio id="bgMusic" src="" controls loop>
				</audio>
				<button id="updateMusic" class="btn waves-effect waves-light cyan lighten-1">修改音乐</button>
			</div>
			
			<button id="submit" class="btn waves-effect waves-light cyan lighten-1" type="submit" name="action">提交
    			<i class="material-icons right">send</i>
  			</button>
			<button id="cancel" class="btn waves-effect waves-light cyan lighten-1" type="submit" name="action">取消
    			<i class="material-icons right">replay</i>
  			</button>
  			
		</section>
		
		<div id="circleProgress" class="preloader-wrapper big active">
			<div class="spinner-layer spinner-green-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../resources/js/plupload-2.3.1/plupload.full.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../resources/js/project/ossupload.js"></script>
	<script type="text/javascript" src="../resources/js/project/music.js"></script>

</html>